/* Estilos gerais */
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center;
}

/* Estilos da navegação */
nav {
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    color: #69ddf1;
    transition: 0.3s all;
    border-radius: 1px;
}

/* Estilos do cabeçalho */
h1 {
    color: #69ddf1;
    font-weight: 100;
    padding-top: 2rem;
    text-align: center;
}

h2,
h4 {
    text-align: center;
}

/* Estilos das redes sociais */
.minhas-redes {
    display: flex;
    justify-content: center;
}

#img-perfil {
    border-radius: 50%;
    width: 200px;
    height: 180px;
    border: 5px solid #69ddf1;
    margin: 0 auto;
}

figure {
    text-align: center;
}

.img-redes {
    margin: 0 10px;
    height: 60px;
    width: 60px;
}

figcaption {
    text-align: center;
    font-size: small;
}

/* Estilos do conteúdo principal */
main {
    margin-top: 5rem;
}

section {
    width: 90%;
    font-size: 1.2rem;
    margin: auto;
}

#projetos {
    padding-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    justify-content: baseline;
}

.grid-projetos {
    padding-top: 5rem;
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit);
}


/* Estilos do rodapé */
footer {
    margin-top: 5rem;
    text-align: center;
    font-size: 10px;
}

/* Estilos da rolagem suave */
html {
    scroll-behavior: smooth;
}

#contato {
    padding-top: 20rem;
    scroll-margin-top: 5rem;
}

/* Estilos dos links */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #69ddf1;
    transition: 0.3s all;
}

/* Comentários descritivos */
/* Estilos gerais */

/* Estilos da navegação */

/* Estilos do cabeçalho */

/* Estilos das redes sociais */

/* Estilos do conteúdo principal */

/* Estilos do rodapé */

/* Estilos da rolagem suave */

/* Estilos dos links */
